@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    border-radius: 0.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
}

@layer base {
  :root {
    --color-primary-200: 167 108 212;
    --color-primary-400: 139 44 212;
    --color-primary-600: 122 79 155;
    --color-primary-800: 88 28 135;
    --color-primary-1000: 55 18 84;
    --color-primary-1200: 34 5 54;
  }
}

.bg {
  min-height: 100vh;
  animation: slide 6s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgb(var(--color-primary-400)) 50%, rgb(var(--color-primary-800)) 50%);
  bottom:0;
  left:-50%;
  opacity:.6;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:7s;
}

.bg3 {
  animation-duration:8s;
}

#root {
  color: white;
  min-height: 100vh;
  font-family: 'Sriracha', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.movie-container {
  width: 95%;
  max-width: 1200px;
  @apply mx-auto;
}

.timer-warning {
  animation: timer-warning 1s ease-in-out infinite alternate;
}

.question-button::after {
  --color: transparent;
  --content: "";
  content: var(--content);
  position: absolute;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -15px;
  right: -15px;
  width: 35px;
  height: 35px;
  background-color: var(--color);
  color: white;
}

.question-button.correct::after { --color: green; --content:"👍" }
.question-button.incorrect::after { --color: red; --content:"👎" }

.confetti {
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 90vw;
  height: 100vh;
  overflow: hidden;
  z-index: 1000;
}

.confetti-piece {
  position: absolute;
  width: 10px;
  height: 30px;
  background: #ffd300;
  top: 0;
  opacity: 0;
}

.confetti-piece:nth-child(1) {
  left: 7%;
  transform: rotate(-40deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 182ms;
  animation-duration: 1116ms;
}

.confetti-piece:nth-child(2) {
  left: 14%;
  transform: rotate(4deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 161ms;
  animation-duration: 1076ms;
}

.confetti-piece:nth-child(3) {
  left: 21%;
  transform: rotate(-51deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 481ms;
  animation-duration: 1103ms;
}

.confetti-piece:nth-child(4) {
  left: 28%;
  transform: rotate(61deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 334ms;
  animation-duration: 708ms;
}

.confetti-piece:nth-child(5) {
  left: 35%;
  transform: rotate(-52deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 302ms;
  animation-duration: 776ms;
}

.confetti-piece:nth-child(6) {
  left: 42%;
  transform: rotate(38deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 180ms;
  animation-duration: 1168ms;
}

.confetti-piece:nth-child(7) {
  left: 49%;
  transform: rotate(11deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 395ms;
  animation-duration: 1200ms;
}

.confetti-piece:nth-child(8) {
  left: 56%;
  transform: rotate(49deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 14ms;
  animation-duration: 887ms;
}

.confetti-piece:nth-child(9) {
  left: 63%;
  transform: rotate(-72deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 149ms;
  animation-duration: 805ms;
}

.confetti-piece:nth-child(10) {
  left: 70%;
  transform: rotate(10deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 351ms;
  animation-duration: 1059ms;
}

.confetti-piece:nth-child(11) {
  left: 77%;
  transform: rotate(4deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 307ms;
  animation-duration: 1132ms;
}

.confetti-piece:nth-child(12) {
  left: 84%;
  transform: rotate(42deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 464ms;
  animation-duration: 776ms;
}

.confetti-piece:nth-child(13) {
  left: 91%;
  transform: rotate(-72deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 429ms;
  animation-duration: 818ms;
}

.confetti-piece:nth-child(odd) {
  background: #7431e8;
}

.confetti-piece:nth-child(even) {
  z-index: 1;
}

.confetti-piece:nth-child(4n) {
  width: 5px;
  height: 12px;
  animation-duration: 2000ms;
}

.confetti-piece:nth-child(3n) {
  width: 3px;
  height: 10px;
  animation-duration: 2500ms;
  animation-delay: 1000ms;
}

.confetti-piece:nth-child(4n-7) {
  background: red;
}

.resize {
  animation: resize 1.45s ease-in-out infinite alternate;
}

.toast {
  opacity: 0;
  transform: translateY(100%);
  transition: all 300ms;
}

.toast.showToast {
  opacity: 1;
  transform: translateY(0);
}

.swal2-actions {
  gap: 2rem !important;
}

@keyframes makeItRain {
  from {opacity: 0;}
  50% {opacity: 1;}
  to {-webkit-transform: translateY(350px);}
}

@keyframes bg-animation {
  0% { background-position: 0 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0 50% }
}

@keyframes resize {
  from { transform: scale(1); }
  to { transform: scale(1.15); }
}

@keyframes timer-warning {
  0% { color: red; transform: scale(.9); }
  50% { color: white; transform: scale(1); }
  100% { color: red; transform: scale(.9); }
}

@keyframes show-toast {
  from { opacity: 0; transform: translateY(100%); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}


